*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
h2{
    font-size: 2rem;
    margin-bottom: 10px;
}






















